@font-face {
	font-family: anton;
	src: url("15394.otf");
}

.on {
	width: 19%;
	height: 380px;
	border: 2px solid dodgerblue;
	margin: 0 auto;
	padding-left: 4%;
	border-radius: 10%;
}

p{
	font-family: anton;
	padding-left: 20%;
}

button {
	font-family: anton;
	margin-top: 3%;
	margin-left: 20%;
	padding: 0;
	border: none;
	color: inherit;
	background-color: transparent;
}

.vod {
	display: inline-block;
	border: 2px solid #9555af;
	margin-left: 8%;
}

.click {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: solid 1% transparent;
	border-radius: 4%;
	padding: 0.5em 1em;
	color: #ffffff;
	background-color: #9555af;
}

@media (max-width:380px) {
	.on{
			width: 65%;
			height: 380px;
			border: 2px solid dodgerblue;
			margin-top: 60px;
			padding-left: 4%;
			border-radius: 10%;
		}
	p{
		padding-left: 27%;
		margin-top: 8%;

	}
	button {
		margin-top: 3%;
		margin-left: 18%;
		padding: 0;
		border: none;
		font: inherit;
		color: inherit;
		background-color: transparent;
	}

	.vod {

		border: 4px solid #9555af;
		width: 160px;
		height: 20px;
		padding-left: 20px;
		margin-right: 4px;
	}

	.click {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		border: solid 1% transparent;
		border-radius: 4%;
		padding: 0.5em 1em;
		color: #ffffff;
		background-color: #9555af;
	}
	.print {
		margin-left: 8px;
	}
	}
