@font-face {
	font-family: Electrolize;
	src: url("Electrolize.ttf");
}

.on {

	width: 19%;
	height: 380px;
	border: 2px solid dodgerblue;
	margin: 0 auto;
	padding-left: 4%;
	border-radius: 10%;
}

p{
	font-family: Electrolize;
	padding-left: 20%;
}

button {
	font-family: Electrolize;
	margin-top: 3%;
	margin-left: 20%;
	padding: 0;
	border: none;
	color: inherit;
	background-color: transparent;
}

.vod {
	display: inline-block;
	border: 2px solid #9555af;
	margin-left: 8%;
}

.click {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: solid 1% transparent;
	border-radius: 4%;
	padding: 0.5em 1em;
	color: #ffffff;
	background-color: #9555af;
}

@media (max-width:380px) {
	.on{
			width: 65%;
			height: 380px;
			border: 2px solid dodgerblue;
			margin-top: 60px;
			padding-left: 4%;
			border-radius: 10%;
		}
	p{
		font-family: Electrolize;
		padding-left: 45px;
		margin-top: 8%;

	}
	button {
		font-family: Electrolize;
		width: 120px;
		height: 30px;
		margin-top: 3%;
		margin-left: 70px;
		padding: 0;
		border: none;
		color: inherit;
		background-color: transparent;
	}

	.vod {

		border: 2px solid #9555af;
		width: 160px;
		height: 20px;
		padding-left: 18px;
		margin-right: 4px;
	}

	.click {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		border: solid 1% transparent;
		border-radius: 4%;
		padding: 0.5em 1em;
		color: #ffffff;
		background-color: #9555af;
	}
	.print {
		margin-left: 8px;
	}
	}
