.on {
	width: 19%;
	height: 380px;
	border: 8px solid dodgerblue;
	margin: auto;
	padding-left: 4%;
	border-radius: 10%;
}

p{
	padding-left: 20%;
}

button {
	margin-top: 3%;
	margin-left: 15%;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}

.wwod {
	margin-left: 8%;
}

.click {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: solid 1% transparent;
	border-radius: 4%;
	padding: 0.5em 1em;
	color: #ffffff;
	background-color: #9555af;
}
