.kesh {
    margin-top: 5px;
    width: 280px;
}

.listCustom {
    width: 300px;
}
body {
margin-top: 40px;
    margin-left: 15px;
}

.onElement{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lastElement {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}